.header{
  background-color: #ddd;
  text-align: center;
  padding: 30px;
  font-size: 20px;
  font-style: italic;
  margin-top: 50px;
}
.header > h2{
  font-size: 60px;
  color: #414446;
  font-weight: bold;
  font-style: normal;
}
h3{
  font-weight: bold;
}